.dashboard {
  height: 100vh;
  width: calc(100% - 250px);
  padding: 35px;
  margin-left: 250px;
}

.table-icon {
  cursor: pointer;
}

.notification_card {
  background: #84B8C5;
  color: white;
  border-radius: 5px;
  padding: 2vh;
  margin-top: 3vh;
  font-size: 18px;

}

.card_list {
  list-style-type: none;
  display: inline;
}

.read_notification, .delete_notification {
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  float: right;
  background: transparent;
  margin-right: 1vh;
}

.no_notification {
  margin-top: 3vh;
}

