<div class="sidebar">
  <img src="/assets/logo.png"/>
  <div class="user-details">
    <img *ngIf="currentUser.permisiune == 1 && currentUser.nume != 'admin'" class="user-details-avatar" src="/assets/teacher.png"/>
    <img *ngIf="currentUser.permisiune == 1 && currentUser.nume == 'admin'" class="user-details-avatar" src="/assets/admin.png"/>
    <img *ngIf="currentUser.permisiune == 0" class="user-details-avatar" src="/assets/graduated.png"/>
    <div class="user-details-name">
      {{ currentUser.nume }} {{ currentUser.prenume }}
    </div>
    <div *ngIf="currentUser.nume != 'admin'">
      <div *ngIf="currentUser.permisiune == 1; else student" class="user-details-email">
        profesor
      </div>
      <ng-template #student>
        <div class="user-details-email">
          student
        </div>
      </ng-template>
    </div>
  </div>
  <div
    (click)="goToDashboard()"
    class="logout-btn mt-5"
    *ngIf="tab == 'dashboard'"
    style="font-weight: bold"
  >
    Dashboard
  </div>
    <div
      (click)="goToDashboard()"
      class="logout-btn mt-5"
      *ngIf="tab != 'dashboard'"
    >
    Dashboard
  </div>
  <div *ngIf="currentUser.nume != 'admin'">
    <div
      (click)="goToNotifications()"
      class="logout-btn"
      *ngIf="tab == 'notifications'"
      style="font-weight: bold"
    >
      <span *ngIf="nrUnreadNotifications > 0; else noNotify" matBadge={{nrUnreadNotifications}} matBadgeColor="warn" matBadgeSize="small">Notifications</span>
      <ng-template #noNotify>
        <span>Notifications</span>
      </ng-template>
    </div>
    <div
      (click)="goToNotifications()"
      class="logout-btn"
      *ngIf="tab != 'notifications'"
    >
      <span *ngIf="nrUnreadNotifications > 0; else noNotify" matBadge={{nrUnreadNotifications}} matBadgeColor="warn" matBadgeSize="small">Notifications</span>
      <ng-template #noNotify>
        <span>Notifications</span>
      </ng-template>
    </div>
  </div>
  <div
    (click)="goToCalendar()"
    class="logout-btn"
    *ngIf="tab == 'calendar'"
    style="font-weight: bold"
  >
    Calendar
  </div>
  <div
    (click)="goToCalendar()"
    class="logout-btn"
    *ngIf="tab != 'calendar'"
  >
    Calendar
  </div>
  <div
    (click)="doLogout()"
    class="logout-btn"
  >
    Logout
  </div>
