<div class="container-fluid">
  <div class="row" style="height: 90vh;">
    <div class="col-6" style="display: flex; align-items: center;">
      <img class="logo" src="/assets/logo.png"/>
      <div class="auth-wrapper">
        <form [formGroup]="signinForm" class="form-signin">
          <div class="welcome-text">

            <div class="welcome-text-title">
              Welcome back,
              <br>
              please login to your existing account.
            </div>
          </div>
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input formControlName="email" matInput placeholder="Enter e-mail">
          </mat-form-field>
          <br>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput
                   placeholder="Enter password">
            <button (click)="hidePassword = !hidePassword" type="button" mat-icon-button matSuffix>
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <button (click)="loginUser()" type="submit" [disabled]="signinForm.status == 'INVALID'" id="login"
                  class="btn btn-block btn-light" type="submit">Sign in
          </button>
          <div class="text-container">
            <span>You don't have an account?&nbsp;</span>
            <a [routerLink]="['/register']" class="btn btn-link">Register</a>
          </div>
        </form>

      </div>
    </div>
    <div class="col-6" style="display: flex; align-items: center;">
      <div>
        <img class=" login-img" src="/assets/login1.png">
      </div>
    </div>
  </div>
</div>
