.auth-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.form-signup {
  width: 80%;
  max-width: 400px;
  margin-right: 15%;
}

.register-img {
  width: 90%;
  max-width: 800px;
  height: auto;
  @media (max-width: 1200px) {
    width: 90%;
  }
}

.welcome-text {
  &-title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 40px;
    color: lightgray;
  }
}

.password-toggler {
  position: absolute;
  float: right;
  margin-left: -20px;
  cursor: pointer;
}

.mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background: none !important;
  padding-left: 0 !important;
  padding-right: 0.25em !important;
}

.text-container {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#register {
  background: #2a4a4a;
  color: white;
}

#register:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
}
